lxml>=3.7.2
cssselect>=1.0.0
Pillow>=4.3
requests>=2.14
pycryptodome>=3.5
cfscrape>=1.9.5
progressbar2>3.34
urllib3<1.23>=1.21.1
packaging>=17
html-purifier>=0.1.9
selenium>=3.0.2
pyexecjs>=1.5.1
numpy
